
<h2> Contact us </h2>
<p> You can send your question here</p>
<form action="/contacts" method="POST" role="form" > 
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%= @username%>"
  </div>
  
  <div class="form-group">
    <label>Номер для связи или e-mail</label>
    <input name="contact_phone" type="text" class="form-control" placeholder="Номер для связи или e-mail" value="<%= @contact_phone%>"  
  </div>
 
    <div class="form-group">
    <label>Введите ваше сообщение</label>
    <input name="message" type="text" class="form-control" placeholder="Ваше сообщение">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Отправить</button>
